/* @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html{
    height: 100%;
  }
  
  /* body {
    background: #f1f1f1;
  } */
  body {
    height: 100%;
    background: #e4e2e3;
  }
   
  @font-face {
    font-family: "Basker";
    src: local("Baskerville-Cyrillic-Bold"),
     url("./fonts/Baskerville-Cyrillic-Bold/Baskerville-Cyrillic-Bold.otf") format("truetype");
   }
   
  @font-face {
    font-family: "Amalfi";
    src: local("Amalfi-Coast"),
     url("./fonts/Amalfi-Coast/Amalfi-Coast.ttf") format("truetype");
   }